@model Reserveer.Models.GroupInfo;
<!--Takes information from the GroupInfo model in the Models>RoomInfo file (GroupsInfo class)-->


<script type="text/javascript">
    $(document).ready(function () {

      // Creates new array to store page data taken from the controllers
        GroupProfileArray = new Array();
      GroupProfileArray = @Html.Raw(ViewData["results"]);
        console.log(GroupProfileArray);

      // Seperates all data into seperate variables and hands it to over the view
      $('#title').text(GroupProfileArray[0][1]);
        $('#groupI').val(GroupProfileArray[0][1]);
        $('#groupId').val(GroupProfileArray[0][0]);
        $('#domainI').append('<h4 id="' + GroupProfileArray[0][4] + '" class="card-title text-center themeColor">&#9993;' + GroupProfileArray[0][2]+'</h4> ');

      // Create new array to store page data inside of
      GroupRoomsArray = new Array();
      GroupRoomsArray = @Html.Raw(ViewData["results2"]);

      // Checks for arraylength to for loop through the entire array
        var arrayLength = GroupRoomsArray.length;

      // Seperates and places all the rooms into the GroupRoomsArray (This is used to specificy a room to edit)
        for (var i = 0; i < arrayLength; i++) {
            $("#roomsI").append(

              '<div class="col-sm-4 thumbnail"><div class="col-sm-7" ><h4 class="card-title text-center themeColor">'+GroupRoomsArray[i][1]+'</h4></div ><div class="col-sm-5"><a href="roomprofile?roomid='+GroupRoomsArray[i][0]+'" class="btn btn-lg btn-danger btn-block  center-block">Update</a></div></div >'
            );
      }

      //Creates new array: GroupReservationsArray
      GroupReservationsArray = new Array();
      GroupReservationsArray = @Html.Raw(ViewData["results4"]);

      // Checks for arraylength to for loop through the entire array
      var arrayLength2 = GroupReservationsArray.length;

      // Seperates and places all the reservations into the GroupReservationsArray(This is used to specify a reservation to delete)
      for (var i = 0; i < arrayLength2; i++) {
        $("#reservationI").append(

            '<div class="row thumbnail" style="margin-right: 15px; margin-left: 15px;"><div class= "caption" ><div class= "col-sm-3" > ' + GroupReservationsArray[i][1] + '</div > <div class="col-sm-3">' + GroupReservationsArray[i][2] + ' - ' + GroupReservationsArray[i][3] + '</div><div class="col-sm-2">' + GroupReservationsArray[i][4] + '</div><div class="col-sm-2">' + GroupReservationsArray[i][7] + '</div><div class="col-sm-2"><a href="DeleteReservation?reservationId=' + GroupReservationsArray[i][0] + '&groupId=' + GroupReservationsArray[i][8] +'" class=" btn btn-sm btn-danger btn-block  center-block">DELETE</a></div></div ></div > '
        );
      }

      // Creates new array: GroupUserArray(This is used for a list of all users to deactivate users)
      GroupUserArray = new Array();
      GroupUserArray = @Html.Raw(ViewData["results3"]);

      // Check for arrayLength to loop through the entire array
      var arrayLength3 = GroupUserArray.length;

      // Seperates and places all the reservations into the GroupReservationsArray
      for (var i = 0; i < arrayLength3; i++) {
          $("#userI").append(

              '<div class="row thumbnail" style="margin-right: 15px; margin-left: 15px;"><div class= "caption" > <div class="col-sm-3">' + GroupUserArray[i][1] + '</div><div class="col-sm-3">' + GroupUserArray[i][2] + '</div><div class="col-sm-3">' + GroupUserArray[i][3] + '</div><div class="col-sm-3"><a href="DeactivateUser?userId=' + GroupUserArray[i][0] + '&groupId=' + GroupUserArray[i][4]+'" class="btn btn-sm btn-danger btn-block  center-block">Deactivate</a>  </div></div ></div >'
          );
      }



    });


</script>
@{
  ViewData["Title"] = "Profile";
}

<!-- This View display all the information of the 'GroupsAdmin/Profile page'-->
<h1 class="text-center">Profile <span id="title"></span></h1>

<div class="panel-group" id="Group" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default opacityWhitebg">
    <div class="panel-heading themeBGColor cwhite" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#Group" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Group Info
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in " style="padding:40px;" role="tabpanel" aria-labelledby="headingOne">

      <div class="row">

        <div class="col-sm-6">
          <div class="row">
            <div>
              <img class="card-img-top" src="https://dummyimage.com/300x200/000/17a2b8 " alt="Card image cap"
                   style="height: 200px;  display: block; border: 2px #27A2A7 solid; padding: 2px;">
            </div>
          </div>

        </div>
        <!-- Button to change the groupname-->
        <div class="col-sm-6">
          <form asp-action="UpdateGroupName">
            <div class="input-group ">
              <span class="input-group-addon" id="basic-addon1">Group Name</span>
              <input type="hidden" id="groupId" asp-for="GroupID" hidden class="form-control" />
              <input id="groupI" asp-for="GroupName" placeholder="GroupName" maxlength="30" class="form-control" required>
              <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block  center-block" style="margin-top:10px;">Save</button>
            <br />
            <div id="domainI" class="col-sm-4 thumbnail">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="panel-group" id="Rooms" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default opacityWhitebg">
    <div class="panel-heading themeBGColor cwhite" role="tab" id="heading3">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#Rooms" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
          Rooms
        </a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse out " style="padding:20px;" role="tabpanel" aria-labelledby="heading3">
      <div class="row">
        <ul id="roomsI"></ul>
      </div>

      <hr />
      <a class="btn btn-lg btn-danger btn-block  center-block" href="Addroom" role="button">Add Room</a>
    </div>
  </div>
</div>


<div class="panel-group" id="Users" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default opacityWhitebg">
    <div class="panel-heading themeBGColor cwhite" role="tab" id="heading4">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#Users" href="#userI" aria-expanded="true" aria-controls="userI">
          Users
        </a>
      </h4>
    </div>
    <div id="userI" class="panel-collapse collapse out " style="padding:20px;" role="tabpanel" aria-labelledby="heading4">

      <div class="row thumbnail" style="margin-right: 15px; margin-left: 15px;">

        <div class="caption">
          <div class="col-sm-3">
            USERNAME
          </div>
          <div class="col-sm-3">
            USER EMAIL
          </div>
          <div class="col-sm-3">
            USER ACTIVE
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="panel-group" id="Reservations" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default opacityWhitebg">
    <div class="panel-heading themeBGColor cwhite" role="tab" id="heading5">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#Reservations" href="#reservationI" aria-expanded="true" aria-controls="reservationI">
          Reservations
        </a>
      </h4>
    </div>
    <div id="reservationI" class="panel-collapse collapse out " style="padding:20px;" role="tabpanel" aria-labelledby="heading5">

      <div class="row thumbnail" style="margin-right: 15px; margin-left: 15px;">
        <div class="caption">
          <div class="col-sm-3">
            USERNAME
          </div>
          <div class="col-sm-3">
            Reservation Time
          </div>
          <div class="col-sm-3">
            Reservation Date
          </div>
          <div class="col-sm-3">
            Room Number
          </div>
        </div>
      </div>

    </div>
  </div>
</div>