<h1 class="my-4 text-center" style=" margin-top:40px; margin-bottom:40px;">Room Schedule: </h1>

<script type="text/javascript">
        $(document).ready(function () {
            eventArray = [];

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            var hours = today.getHours();
            var minutes = today.getMinutes();
            var seconds = today.getSeconds


            if (dd < 10) {
                dd = '0' + dd
            }

            if (mm < 10) {
                mm = '0' + mm
            }

            today = yyyy + '-' + mm + '-' + dd;

            var events = (@Html.Raw(ViewData["results"]));
            x = 0;
            while (events[x] != null) {
                eventArray[x] = events[x];
                x++;
            }

            var collectionString = "["
            var events = new Array();
            for (var i = 0, len = eventArray.length; i < len; i++) {
                events[i] = { 'id': eventArray[i][0], 'start': eventArray[i][2], 'end': eventArray[i][3] };
                }


            $('#calendar').fullCalendar({
                minTime: "08:00:00",
                maxTime: "18:00:00",
                displayEventTime: false,
                disableResizing: false,
                height: 'auto',
                eventStartEditable: false,
                timeFormat: 'H(:mm)',
                slotLabelFormat: "HH:mm",
                defaultView: 'agendaWeek',
                eventOverlap: false,
                businessHours:
                    {
                        dow: [1, 2, 3, 4, 5],

                        start: '8:00', // a start time
                        end: '18:00', // an end time
                    },
                defaultDate: today,
                navLinks: false, // can click day/week names to navigate views
                selectable: true,
                selectHelper: true,
                select: function (start, end) {
                    startdate = start.clone();
                    enddate = end.clone();
                    isWeekend = false;

                    if (startdate.isoWeekday() == 6 || startdate.isoWeekday() == 7 || enddate.isoWeekday() == 6 || enddate.isoWeekday() == 7) {
                        isWeekend = true;
                        alert("You can not book a room on Saturday or Sunday.")
                        $('#calendar').fullCalendar('unselect');
                    }
                    if (isWeekend == false) {
                        var confirmed = confirm("Do you really want to book this room from " + moment(start).format('YYYY/MM/DD HH:mm') + " till " + moment(end).format('YYYY/MM/DD HH:mm') + "?");
                        if (confirmed) {
                            var title = "userId";
                            var eventData;
                            if (title) {
                                eventData = {
                                    title: title,
                                    start: start,
                                    end: end
                                };
                                var startFormat = moment(start).format('YYYY/MM/DD HH:mm');
                                var endFormat = moment(end).format('YYYY/MM/DD HH:mm');

                                var urlParams = new URLSearchParams(window.location.search);
                                var roomid = urlParams.get('RoomId');

                                var reservation = new Object();
                                reservation.title = title;
                                reservation.start = startFormat;
                                reservation.end = endFormat;
                                reservation.roomid = roomid


                                $.ajax({
                                    url: '/Schedule/SetReservation',
                                    type: 'POST',
                                    dataType: "json",
                                    contentType: "application/json; charset=utf-8",
                                    data: JSON.stringify(reservation),
                                    success: function (data) {
                                        alert(data);
                                    },
                                    failure: function (errMsg) {
                                        alert("An error has occured. Please try again later");
                                        alert(errMsg);
                                    }

                                });

                                $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                            }
                            $('#calendar').fullCalendar('unselect');
                        }

                    }

                },
                editable: true,
                eventLimit: true,
                events: events,
            });


            RoomReservationsArray = new Array();
            RoomReservationsArray = @Html.Raw(ViewData["RoomReservationsResults"]);

            console.log(RoomReservationsArray)

            var arrayLength = RoomReservationsArray.length;
            for (var i = 0; i < arrayLength; i++) {
                $("#Reservations").append(

                    '<div class="row thumbnail" style="margin-right: 15px; margin-left: 15px;"><div id="' + RoomReservationsArray[i][0] + '" class="caption"> <div class="col-sm-3">' + RoomReservationsArray[i][2] + ' - ' + RoomReservationsArray[i][3] + '</div><div class="col-sm-3">' + RoomReservationsArray[i][3] + '</div></div></div>'
                );
            }


        });
</script>



@*TIM ZET JE CALENDER DIV ID HIER!!!!!!!!!!!!!*@

<div id="calendar" class="opacityWhitebg"></div>
<br />



    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading themeBGColor cwhite" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Overview Reservations:
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" style="padding:20px;" role="tabpanel" aria-labelledby="headingOne">
                <div class="row" id="Reservations">
                     
                        <div class="row thumbnail" style="margin-right: 15px; margin-left: 15px;">
                            <div class="caption "> 
                                <div class="col-sm-3">
                                    Reservation Time
                                </div>
                                <div class="col-sm-3">
                                    Reservation Date
                                </div> 
                            </div>
                        </div> 

                </div>
            </div>
        </div>
    </div>


